<!--EVENTS VIEW-->

<div class="col-sm-6">
    <div class="input-group">
      	<input type="text" class="form-control" placeholder="Search for event" ng-model="eventSearch">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">
        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        	</button>
    	</span>
    </div>
</div>

<div class="col-sm-6">
	<button class="btn btn-info" ng-click="open_event()">Add new event</button>
</div>


<div class="clearfix"></div>
<div ng-repeat="event in events | filter:eventSearch track by $index " class="col-sm-6 col-xs-12 admin_partner" ng-click="open_event(event)">
	<h4>{{event.title}}</h4>
	<p><b>When:</b> {{event.date}}</p>
	<p><b>Where:</b> {{event.place}}</p>
	<p><b>Chefs: </b> {{event.chefNames.join(', ')}}</p>
	<p><b>Partners:</b> {{event.partnerNames.join(', ')}}</p>
</div>