.admin-nav{
	background-color:$green-dark;
	width:100%;

    a{
		color:#D3D1DB;

		&:hover, &:active, &:focus{
			color:#222;
		}
    }

}
.even{
	border:1px solid $purple;
}

.table-border{
	border:1px solid $purple;
	td{
		padding:1%;
	}
}

#admin-views{
	padding:2%;
}

.purple{
	background-color:$purple;
	color:#D3D1DB;
}

.purple-border{
	border-bottom:1px solid $purple;
}