#landing {
  margin-top:-5%;

  div{
    margin-top: 40px;
    text-align: center;
    color:white;
    padding-top:20%;
  }

  h1{
  	font-size:4em;
  }

  height:100vh;

  #title{
  	margin:0;
  }
}

.box{
    padding:2%;
    margin:2%;
    background-color: rgba(white, 0.4);

    .center-block{
      margin:auto;
      text-align:center;
    }
}

#landing2{
  height:50vh;

  div{
    color:white;
    padding:2%;
    margin:2%;
  }
}


#landing3{
    height:10vh;
}

#landing, #landing2, #landing3{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/js/images/dinner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;

  &:before{
    background-color:rgba(255,255,255,0.4);
  }
}
