<div id="partners">
<div class="col-sm-12">
	<div class="panel-header">
			<h1>Partners</h1>

	</div>

	<div class="panel-body">
		<div ng-repeat="partner in partners" class="col-sm-4 col-xs-12 partner" ng-class="{clearfix:$index%2===0}">
			<div class="col-sm-12">
				<a href="{{partner.url}}" target="_blank"><img ng-src="{{partner.logo}}" class="partner-img"/></a>
			</div>

			<h3>{{partner.name}}</h3>
			<p>{{partner.about}}</p>
			<div ng-if="$index%2 === 0" class="clearfix"></div>
		</div>
	</div>

</div>

</div>