navbar {

  .container {
    width: 100%;
    max-width: 1340px;
    padding:20px 2% 0 2%;

  }


  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

 

}
