<div class="attending">
	<div class="panel-heading">
		<h1>{{attend.title}}</h1>
	</div>

	<div class="panel-body">

		<div class="col-sm-6">

			<p><b>When: </b> {{attend.date | date: 'medium'}}</p>
			<p><b>Where: </b> {{attend.place}}</p>
			<p><b>Price: </b> ${{attend.price}}</p>

		</div>

		<div class="col-sm-6">
			<button class="btn btn-large btn-default"><h2>Attend</h2></button>
		</div>
	</div>

</div>
	<div class="panel-body">
		<h3>About</h3>

		<p>{{attend.about}}</p>
	</div>

<div class="attending">
	<div class="panel-body include-background">
		<h3>Menu</h3>

		<p>{{attend.menu}}</p>
	</div>
</div>

	<div class="panel-body">
		<h3>Chefs</h3>

		<div ng-repeat="chef in attend.chefInfo" class="col-sm-4 col-xs-12 partner text-center">
			<div class="col-sm-12 text-center">
				<a href="{{chef.url}}" target="_blank"><img ng-src="{{chef.image}}" class="partner-img"/></a>
			</div>

			<h3>{{chef.name}}</h3>
			<div ng-if="$index%2 === 0" class="clearfix"></div>
		</div>



	</div>

<div class="attending">

	<div class="panel-body">
		<h3>Partners</h3>

		<div ng-repeat="partner in attend.partnerInfo" class="col-sm-4 col-xs-12 partner text-center">
			<div class="col-sm-12 text-center">
				<a href="{{partner.url}}" target="_blank"><img ng-src="{{partner.logo}}" class="partner-img"/></a>
			</div>

			<h3>{{partner.name}}</h3>
			<div ng-if="$index%2 === 0" class="clearfix"></div>
		</div>
	</div>

</div>
	<div class="panel-body">
		<h3>Location</h3>

		<p>{{attend.location}}</p>

		<p>(map to come!)</p>
	</div>

<div class="attending">
	<div class="panel-body">
		<h3>Questions?</h3>

		<p>
			<a href="/contact">Contact us </a> and we'll get back to you as soon as possible
		</p>
	</div>

</div>
